@font-face {
    font-family: "lexendregular";
    src: url("/css/fonts/lexend.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/css/fonts/robotomono.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fdf0ed;
    --black: #16161c;

    --ff-body: "lexendregular";
    --ff-mono: "Roboto Mono";
}

html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-mono);
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

p {
    font-weight: 200;
}

section {
    padding: 3rem 0;
}

section > * {
    margin-bottom: 1rem;
}

body {
    font-family: var(--ff-body);

    --text-color: var(--black);
    --bkg-color: var(--white);
    --logo-color: #da103f;
}

body {
    font-family: var(--ff-body);

    --text-color: var(--black);
    --bkg-color: var(--white);
    --logo-color: #da103f;
    --bg-secondary: #fadad1;
}

body.dark-theme {
    --text-color: var(--white);
    --bkg-color: var(--black);
    --logo-color: #e95678;
    --bg-secondary: #2e303e;
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: var(--black);
        --bkg-color: var(--white);
        --logo-color: #da103f;
        --bg-secondary: #fadad1;
    }

    body {
        --text-color: var(--white);
        --bkg-color: var(--black);
        --logo-color: #e95678;
        --bg-secondary: #2e303e;
    }
}

/* Base styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    background: var(--bkg-color);
    color: var(--text-color);
    padding-bottom: 64px;
}

button {
    cursor: pointer;
}

a,
a:visited {
    color: var(--text-color);
}

a.active {
    font-weight: bold;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

pre,
code {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* Styles -------------------------------------- */

.grid {
    --padding-inline: 16px;
    --content-max-width: 70ch;
    --breakout-max-width: 95ch;

    --breakout-size: calc(
        (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
        )
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content {
    grid-column: content;
}

.breakout {
    grid-column: breakout;
}

.subgrid {
    grid-column: full-width;

    display: grid;
    grid-template-columns: subgrid;
}

/* Make sure only menu and header is visible when menu open */
body.menu-open > .grid > :not(header, #menu) {
    display: none;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 8px;
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo-link {
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--logo-color);
    font-family: var(--ff-mono);
}

#logo-link:hover {
    text-decoration: underline;
}

#menu-button {
    margin-left: -11px;
}

#theme-button {
    margin-right: -11px;
}

.header-button {
    padding: 0;
    flex-shrink: 0;
    border: 0;
    background-color: var(--bkg-color);
    transition: transform 0.3s ease-out;
}

.header-button:hover {
    transform: scale(1.2);
}

.header-button > svg {
    width: 25px;
    margin: 8px;
    fill: var(--text-color);
}

#menu {
    display: none;
    background-color: var(--bkg-color);
}

#menu.menu-open {
    display: block;
}

.menu-items {
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-family: var(--ff-body);
}

.menu-item {
    height: 70px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.2s ease-out;
}

.menu-item {
    color: var(--text-color);
}

.menu-item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.sub-menu-items {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.sub-menu-item {
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}

.sub-menu-item:hover {
    text-decoration: underline;
}

.bg-secondary {
    background-color: var(--bg-secondary);
}
