@font-face {
    font-family: "lexendregular";
    src: url("/css/fonts/lexend.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/css/fonts/robotomono.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fdf0ed;
    --black: #16161c;

    --ff-body: "lexendregular";
    --ff-mono: "Roboto Mono";
    --ff-heading: "Roboto Mono";

    --fs--2: clamp(0.6944rem, 0.6576rem + 0.1837vw, 0.8rem);
    --fs--1: clamp(0.8331rem, 0.7751rem + 0.2902vw, 1rem);
    --fs-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --fs-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
    --fs-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
    --fs-3: clamp(1.7281rem, 1.4801rem + 1.2402vw, 2.4413rem);
    --fs-4: clamp(2.0738rem, 1.7335rem + 1.7011vw, 3.0519rem);
    --fs-5: clamp(2.4881rem, 2.0266rem + 2.3076vw, 3.815rem);
    --fs-6: clamp(2.9863rem, 2.3665rem + 3.0989vw, 4.7681rem);
}

body {
    font-family: var(--ff-body);

    --text-color: var(--black);
    --bkg-color: var(--white);
    --logo-color: #da103f;
    --bg-secondary: #fadad1;
    --bg-cool: #e95678;
}

body.dark-theme {
    --text-color: var(--white);
    --bkg-color: var(--black);
    --logo-color: #e95678;
    --bg-secondary: #2e303e;
    --bg-cool: #da103f;
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: var(--black);
        --bkg-color: var(--white);
        --logo-color: #da103f;
        --bg-secondary: #fadad1;
        --bg-cool: #da103f;
    }

    body {
        --text-color: var(--white);
        --bkg-color: var(--black);
        --logo-color: #e95678;
        --bg-secondary: #2e303e;
        --bg-cool: #da103f;
    }
}

/* Base styles */

html {
    color-scheme: dark light;
}

body {
    background: var(--bkg-color);
    color: var(--text-color);
    font-size: var(--fs-0);
    font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    text-wrap: balance;
}

h1,
h2 {
    line-height: 1.1;
}

h1 {
    font-size: var(--fs-5);
    /* font-weight: 600; */
}

h1 + p {
    margin-top: 1rem 3.25rem;
    /* font-weight: 300; */
}

h2 {
    font-size: var(--fs-3);
}

h2 + p {
    margin-top: 0.75rem 2rem;
}

button {
    cursor: pointer;
}

a,
a:visited {
    color: var(--text-color);
}

a.active {
    font-weight: bold;
}

.flow > * + * {
    margin-top: 1em;
}

.grid {
    --padding-inline: 16px;
    --content-max-width: 55ch;
    --breakout-max-width: 70ch;

    --breakout-size: calc(
        (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
        )
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content {
    grid-column: content;
}

.breakout {
    grid-column: breakout;
}

.subgrid {
    grid-column: full-width;

    display: grid;
    grid-template-columns: subgrid;
}

/* Hide everything but the menu and header when menu open */
body.menu-open > .grid > :not(header, #menu) {
    display: none;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 8px;
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo-link {
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--logo-color);
    font-family: var(--ff-mono);
}

#logo-link:hover {
    text-decoration: underline;
}

#menu-button {
    margin-left: -11px;
}

#theme-button {
    margin-right: -11px;
}

.header-button {
    padding: 0;
    flex-shrink: 0;
    border: 0;
    background-color: var(--bkg-color);
    transition: transform 0.3s ease-out;
}

.header-button:hover {
    transform: scale(1.2);
}

.header-button > svg {
    width: 25px;
    margin: 8px;
    fill: var(--text-color);
}

#menu {
    display: none;
    background-color: var(--bkg-color);
}

#menu.menu-open {
    display: block;
}

.menu-items {
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-family: var(--ff-body);
}

.menu-item {
    height: 70px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.2s ease-out;
}

.menu-item {
    color: var(--text-color);
}

.menu-item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.sub-menu-items {
    margin-top: 32px;
    display: flex;
    gap: 32px;
}

.sub-menu-item {
    font-size: large;
    font-weight: 200;
    text-decoration: none;
}

.sub-menu-item:hover {
    text-decoration: underline;
}

.bg-secondary {
    background-color: var(--bg-secondary);
    padding: 2em;
}

.bg-cool {
    background-color: var(--bg-cool);
    padding: 2em;
}
