@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Mono"), local("IBMPlexMono"),
        url("/assets/fonts/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 700;
    src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"),
        url("/assets/fonts/IBMPlexSans-Bold-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    src: local("IBM PlexSans SemiBold"), local("IBMPlexSans-SemiBold"),
        url("/assets/fonts/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Sans"), local("IBMPlexSans"),
        url("/assets/fonts/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

:root {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif; */

    font-family: "IBM Plex Sans";

    --blue: #4a68d9;
    --white: #ebedea;
    --black: #222;
    --dark-red: #d0344a;
    --red: #ff6f7a;
    --green: #008c5c;
    --yellow: #ffc45f;
    --dark-gray: #686677;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

button {
    cursor: pointer;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

pre,
code {
    /* font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
    font-family: "IBM Plex Mono";
}

/* Theme setup ---------------------- */

body {
    --text-color: var(--black);
    --bkg-color: var(--white);
}

body.dark-theme {
    --text-color: var(--white);
    --bkg-color: var(--black);
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: var(--black);
        --bkg-color: var(--white);
    }

    body {
        --text-color: var(--white);
        --bkg-color: var(--black);
    }
}

/* Styles -------------------------------------- */

body {
    background: var(--bkg-color);
    color: var(--text-color);
}

#content-grid {
    --padding-inline: 8px;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;

    --breakout-size: calc(
        (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
        [full-width-start] minmax(var(--padding-inline), 1fr)
        [breakout-start] minmax(0, var(--breakout-size))
        [content-start] min(
            100% - (var(--padding-inline) * 2),
            var(--content-max-width)
        )
        [content-end]
        minmax(0, var(--breakout-size)) [breakout-end]
        minmax(var(--padding-inline), 1fr) [full-width-end];
}

#content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
    grid-column: content;
}

#content-grid > .breakout {
    grid-column: breakout;
}

#content-grid > .full-width {
    grid-column: full-width;

    display: grid;
    grid-template-columns: inherit;
}

/* Make sure only menu and header is visible when menu open */
#content-grid > :not(header, #menu) .menu-open {
    display: none;
}

img.full-width {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

#landing-logo {
    width: 300px;
    margin: 30px auto 44px auto;
}

@media (max-width: 768px) {
    #landing-logo {
        width: 200px;
        margin: 30px auto 30px auto;
    }
}

#landing-logo > .text {
    fill: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    gap: 8px;
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo-link > svg {
    width: 150px;
}

#logo-link > svg > .text {
    fill: var(--text-color);
}

#menu-button,
#theme-button {
    flex-shrink: 0;
    border: 0;
    background-color: var(--bkg-color);
    transition: transform 0.3s ease-out;
}

#menu-button:hover,
#theme-button:hover {
    transform: scale(1.2);
}

#menu-button > svg,
#theme-button > svg {
    width: 25px;
    fill: var(--text-color);
}

#menu {
    display: none;
    background-color: var(--bkg-color);
    padding: 32px 0;
}

#menu.menu-open {
    display: block;
}

#menu-items {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    height: fit-content;
    padding-bottom: 64px;
}

.menu-item {
    height: 70px;
    width: 100%;
    display: grid;
    place-content: center;
    font-size: xx-large;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.2s ease-out;
}

.menu-item {
    color: var(--text-color);
}

.menu-item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.sub-menu-items {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}

@media (max-width: 768px) {
    .sub-menu-items {
        gap: 24px;
    }
}

.sub-menu-item {
    font-size: large;
    font-weight: semibold;
    text-decoration: none;
    transition: transform 0.2s ease-out;
}

.sub-menu-item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

main {
    padding: 32px 8px;
    display: flex;
    justify-content: center;
}

main.menu-open {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    gap: 8px;
}

h1 {
    font-size: 20px;
}

a,
a:visited {
    color: var(--text-color);
}

a.active {
    font-weight: bold;
}

button {
    margin-top: 2px;
}

#footer-links {
    display: flex;
    gap: 0.5rem;
}

#footer-copyline {
    font-size: 12px;
}
