@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Mono"), local("IBMPlexMono"),
        url("assets/IBMPlexMono-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: 700;
    src: local("IBM Plex Serif Bold"), local("IBMPlexSerif-Bold"),
        url("assets/IBMPlexSerif-Bold-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

/* Subset: Latin1 */
@font-face {
    font-family: "IBM Plex Serif";
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Serif"), local("IBMPlexSerif-Regular"),
        url("assets/IBMPlexSerif-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
        U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E,
        U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212,
        U+FB01-FB02;
    font-display: swap;
}

body {
    --blue: #4a68d9;
    --light-blue: #cad7ff;
    --dark-red: #d0344a;
    --red: #ff6f7a;
    --green: #008c5c;
    --yellow: #ffc45f;
    --white: #f8f8ff;
    --light-gray: #ededf3;
    --black: #464555;
    --gray: #686677;

    --text-color: var(--black);
    --bkg-color: var(--white);
    --footer-bkg-color: var(--light-gray);
    --link-color: var(--blue);
}

body.dark-theme {
    --text-color: var(--white);
    --bkg-color: var(--black);
    --footer-bkg-color: var(--gray);
    --link-color: var(--light-blue);
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: var(--black);
        --bkg-color: var(--white);
        --footer-bkg-color: var(--light-gray);
        --link-color: var(--blue);
    }

    body {
        --text-color: var(--white);
        --bkg-color: var(--black);
        --footer-bkg-color: var(--gray);
        --link-color: var(--light-blue);
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
}

pre,
code {
    font-family: "IBM Plex Mono", monospace;
}

body,
button {
    background: var(--bkg-color);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px;
    flex-wrap: wrap;
    align-items: flex-start;
}

main {
    flex: 1;
    padding: 0 16px 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    background-color: var(--footer-bkg-color);
    gap: 8px;
}

h1 {
    font-size: 20px;
}

a,
a:visited {
    color: var(--link-color);
}

a.active {
    font-weight: bold;
}

button {
    margin-top: 2px;
    color: var(--btn-text-color);
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo-link > svg {
    width: 150px;
}

#logo-link > svg > .text {
    fill: var(--text-color);
}

#logo-link > svg > #semicircle {
    fill: var(--red);
}

#footer-links {
    display: flex;
    gap: 0.5rem;
}

#footer-copyline {
    font-size: 12px;
}
