:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    --blue: #4a68d9;
    --white: #ebedea;
    --black: #0d0d0d;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

pre,
code {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
        "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
        "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
    --text-color: var(--black);
    --bkg-color: var(--white);
    --link-color: var(--blue);
}

body.dark-theme {
    --text-color: var(--white);
    --bkg-color: var(--black);
    --link-color: var(--light-blue);
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: var(--black);
        --bkg-color: var(--white);
        --link-color: var(--blue);
    }

    body {
        --text-color: var(--white);
        --bkg-color: var(--black);
        --link-color: var(--light-blue);
    }
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bkg-color);
    color: var(--text-color);
}

button {
    background: var(--blue);
    color: var(--white);

    border: 0;
    border-radius: 0.25rem;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0;
    cursor: pointer;
    background-color: #464555;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 16px;
    flex-wrap: wrap;
}

main {
    flex: 1;
    padding: 0 16px 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    gap: 8px;
}

h1 {
    font-size: 20px;
}

a,
a:visited {
    color: var(--text-color);
}

a.active {
    font-weight: bold;
}

button {
    margin-top: 2px;
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#logo-link > svg {
    width: 150px;
}

#logo-link > svg > .text {
    fill: var(--text-color);
}

#footer-links {
    display: flex;
    gap: 0.5rem;
}

#footer-copyline {
    font-size: 12px;
}
