body {
    --text-color: #222;
    --bkg-color: #eee;
    --footer-bkg-color: gainsboro;
    --accent1: tomato;
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --footer-bkg-color: dimgray;
}

@media (prefers-color-scheme: dark) {
    body.light-theme {
        --text-color: #222;
        --bkg-color: #eee;
        --footer-bkg-color: gainsboro;
    }

    body {
        --text-color: #eee;
        --bkg-color: #121212;
        --footer-bkg-color: dimgray;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px;
    flex-wrap: wrap;
    align-items: flex-start;
}

main {
    flex: 1;
    padding: 0 16px 32px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px;
    background-color: var(--footer-bkg-color);
    gap: 8px;
    border-top: 2px solid var(--accent1);
}

h1 {
    font-size: 20px;
}

a,
a[href^="mailto:"] {
    color: var(--accent1);
}

a.active {
    font-weight: bold;
    color: var(--accent1);
}

a:visited {
    color: var(--accent1);
}

body,
button {
    background: var(--bkg-color);
    color: var(--text-color);
    font-family: monospace;
}

button {
    margin-top: 2px;
}

nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#heading {
    font-size: 20px;
    text-decoration: none;
}

#heading > span {
    margin: 0;
    display: block;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 4px;
}

#heading:visited {
    color: inherit;
}

#heading-line {
    display: block;
    width: 60px;
    border-top: 2px solid var(--accent1);
    transform: translateY(1px);
}

#footer-links {
    display: flex;
    gap: 0.5rem;
}

#footer-copyline {
    font-size: 12px;
}
