#cells {
    width: 70vh;
}

@media (max-width: 768px) {
    #cells {
        width: 100%;
    }
}

#gol-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#gol-container > #controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.controlGroup {
    font-size: 14px;
}

#pause {
    width: 28px;
    height: 28px;
}
